DOMAIN=
# will redirect to HTTPS when requested from HTTP
DCP_HTTPS_METHOD=redirect
LETSENCRYPT_EMAIL=
# see https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion#test-certificates
LETSENCRYPT_TEST=
