DCP_ENV_DOMAIN=
DCP_ENV_GOGS_CONFIG_PATH=./gogs/app.prod.ini
# will redirect to HTTPS when requested from HTTP
DCP_ENV_HTTPS_METHOD=redirect
DCP_ENV_KEEWEB_CONFIG_PATH=./keeweb/config.prod.json
DCP_ENV_LETSENCRYPT_EMAIL=
# see https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion#test-certificates
DCP_ENV_LETSENCRYPT_TEST=
# in scp format ([user@]host:]file_path)
DCP_ENV_REMOTE_BACKUP_REPO=
